.mainPicture {
    height: 200px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    box-shadow: 0 0 2em black;
}

main {
    width: 100%;
}

html, body {
    height: 100%;
    overflow-x: hidden;
}

body {
    perspective: 10px;
    perspective-origin: 50% 160px;
    display: block;
}

.mainTitle {
    background-color: rgba(0, 27, 27, 1);
    
    background-image: linear-gradient(45deg,
        transparent,
        transparent 14px,
        rgba(127, 127, 127, 0.15) 14px,
        rgba(127, 127, 127, 0.15) 15px,
        transparent 15px,
        transparent);
    background-size: 20px 20px;
    background-attachment: fixed;
}

.mainTitle h2 {
    text-transform: none;
    font-size: .5em;
}

.banner {
    width: 14em;
    line-height: 1;
    padding: 1em 0;
    box-sizing: border-box;

    text-align: center;
    text-decoration: none;
    background-color: rgba(0, 15, 15, 1);
    color: white;
    border: .15em solid black;
    
    position: absolute;
    top: 0;
    left: 0;
    
    transform-origin: 0 0;
    transform: rotate(-45deg) translateX(-200px) translateY(100px);
    
    animation: fade 1s;
    animation-delay: 2s;
    animation-fill-mode: backwards;
}

@keyframes fade {
    from {
        opacity: 0;
    }
}

.linksSocialMedia {
    padding-bottom: 1em;
    background-color: rgba(0, 15, 15, 1);
	border-bottom: .25rem solid black;
}

.linksSocialMedia ul {
    margin-left: 31.75%;
    align-items: center;
    
    animation: fade 1s;
    animation-delay: 2s;
    animation-fill-mode: backwards;
}

.linksSocialMedia li {
    padding: 0em 1em;
}

.botao-index {
    font-size: 1em;
    background-color: rgba(154, 27, 27, 1);
    box-shadow: 0 0 1em #000, inset 0 0 .5em #D5447E;
    color: #FFF;
    padding: .5em;
    border: .2em solid black;
    width: 40ch;
    margin: 2em auto;
    display: block;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    transition: .5s;
}

.botao-index:hover {
    box-shadow: 0 0 1em #FA9;
    background-color: rgba(255, 63, 63, 1);
    color: #FFF;
}

.secao-inicio {
    padding: 2em;
}

.secao-inicio h2 {
    color: #FFF;
    font-size: 3em;
    text-shadow: 5px 5px #000;
    text-transform: uppercase;
    margin-bottom: .5em;
}

.biografia {
    background-color: rgba(127, 27, 27, 1);
	border-bottom: .25rem solid black;
    
    background-image: linear-gradient(-45deg,
        transparent,
        transparent 14px,
        rgba(0, 0, 0, 0.15) 14px,
        rgba(0, 0, 0, 0.15) 15px,
        transparent 15px,
        transparent);
    background-size: 20px 20px;
    background-attachment: fixed;
}

.biografia p {
    padding: 0 5em;
    color: #FFF;
}

.portfolio {
    background-color: rgba(0, 27, 27, 1);
	border-bottom: .25rem solid black;
    
    background-image: linear-gradient(45deg,
        transparent,
        transparent 14px,
        rgba(127, 127, 127, 0.15) 14px,
        rgba(127, 127, 127, 0.15) 15px,
        transparent 15px,
        transparent);
    background-size: 20px 20px;
    background-attachment: fixed;
}

.portfolio ul {
    display: flex;
}

.portfolio li {
    transition: transform 0.5s;
    border: .25em solid black;
    flex: 1;
}

.portfolio li:first-child {
    order: 2;
}

.portfolio li:first-child:hover {
    transform: scale(1.5);
}

.portfolio li:nth-child(2) {
    order: 1;
}

.portfolio li:nth-child(2):hover {
    transform: scale(1.5) translateX(2.5em) translateY(0.5em);
}

.portfolio li:last-child {
    order: 3;
}

.portfolio li:last-child:hover {
    transform: scale(1.5) translateX(-2.5em) translateY(0.5em);
}

.portfolio img {
    width: 100%;
    display: block;
    box-shadow: 0 0 5px black;
}

#indexFooter {
    width: 100%;
    clear: both;
    padding: 1em 3em;
    
    color: #F2FFFC;
    background-color: rgba(127, 27, 27, 1);
    
    background-image: linear-gradient(-45deg,
        transparent,
        transparent 14px,
        rgba(0, 0, 0, 0.15) 14px,
        rgba(0, 0, 0, 0.15) 15px,
        transparent 15px,
        transparent);
    background-size: 20px 20px;
    background-attachment: fixed;
}

#indexFooter a {
    color: black;
}

#indexFooter a:hover  {
    color: rgba(255, 0, 0, 1);
    text-shadow: 0 0 .25px red;
}

#indexFooter h2 {
    font-size: 2em;
    text-shadow: 3px 3px black;
}

#indexFooter div a {
    display: block;
    width: 40px;
    height: 40px;
    position: relative;
    vertical-align: top;
    font-size: 0;
}

#indexFooter div li {
    display: inline-block;
    padding: 1em 1.15em;
}

strong {
    font-size: 2em;
    font-weight: bold;
    color: rgba(0, 0, 0, 1);
    text-shadow: 1px 1px rgba(127, 127, 127, 1);
    line-height: 1;
}

em {
    font-weight: bold;
    font-style: italic;
}
